@import "bootstrap.min";
@import "stylish-portfolio";

#support {
  a {
    color: #A3D3F0;
  }
}

#footer {
  ul {
    li {
      list-style-type: none;

      a {
        display: inline-flex;
        padding: 0 15px 40px;

        &#gizra {
            font-family: Abril Fatface;
            font-size: 60px;
            text-decoration: none;
            color: #e27058;
            padding-bottom: 40px;
        }
      }
    }
  }
}
