@import 'theme/variables';
@import 'theme/fonts';
@import 'layout/header';
@import 'layout/upper_menu';
@import 'layout/strip';
@import 'layout/about';
@import 'layout/speakers';
@import 'layout/plan';
@import 'layout/tickets';
@import 'layout/map';
@import 'layout/sponsors';
@import 'layout/support_us';

body, a, h1, h2, h3, h4, div, p, li {
  font-family: 'Bebas Neue';
}

h3 {
  padding-top: 100px;
  font-size: 70px;
  text-transform: uppercase;
}

section {
  position: relative;
  display: table;
  width: 100%;
}

.align-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@import "layout/mobile";
