@media only screen and (max-width: 600px) {

  h3 {
    font-size: 40px;
  }

  .strip {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }

    .ui.primary.button {
      font-size: 20px;
    }
  }

}