.plan {
  background: $color2;
  color: white;
  padding-bottom: 100px;

  .submit-session {

    p {
      font-family: 'Vista';
      font-size: 20px;
    }

    .ui.primary.button {
      margin-top: 20px;
      padding: 30px;
      background: $turquoise;
      color: black;
      text-transform: uppercase;
      font-size: 40px;
      font-family: "Bebas Neue";
      border-radius: 0;
    }
  }

  .items {
    padding-top: 20px;
    margin: 0 auto;
    text-align: left;
    display: table;
    line-height: 1;

    .mobile {
      display: none !important;
    }

    .item {

      display: inline-flex;
      width: auto;
      clear: both;

      div {
        float: left;
        display: table-column;
      }

      .info-wrapper {
        display: block;
      }

      .hour {
        color: $turquoise;
        font-size: 60px;
        padding-right: 10px;
        text-align: left;
        width: 110px;
      }

      .location {
        padding-right: 10px;
        width: 55px !important;

        p {
          background-color: $turquoise;
          color: black;
          border-radius: 50%;
          line-height: 1;
          text-align: center;
          text-transform: uppercase;
          height: 45px;
          font-size: 15px;
          margin-top: 5px;
          padding: 10px;
        }

        &.small {

          p {
            background: white;
          }
        }
      }

      .info {
        font-size: 20px;
        line-height: 1.25;
        text-align: left;
        padding-top: 5px;

        span {
          display: block;
        }
      }

      &.alone {

        .info {
          font-size: 50px;
          padding-top: 0;
        }
      }

      &.secondary {

        .hour {
          color: white;
        }
      }
    }

    .separator {
      padding-bottom: 20px;
    }
  }
}
